.about-container {
    background-color: #f7f7f7; 
    border: 2px solid #333333; 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 600px; 
    margin: 20px auto 0; 
  }
  
  
  .about-container p {
    font-size: 16px; 
    line-height: 1.5; 
    color: #333333; 
    font-family: 'Limelight', cursive;
  }