.App {
  text-align: center;
  height: 100%;
  background-color: black;
  overflow-y: auto;
}

.background-container {
  background-color: black; 
  min-height: 100vh; 
} 

.App-header {
  background-color: black;
}
