.button-28 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff5454 0, #ff3232 100%); /* Updated with red colors */
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  margin: 0 8px 0 0;
  margin-top: 5px;
}
.button-28:focus {
  box-shadow: #ff5454 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff5454 0 -3px 0 inset; /* Updated with red shade */
}

.button-28:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ff5454 0 -3px 0 inset; /* Updated with red shade */
  transform: translateY(-2px);
}


.button-28:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.fav-list {
  list-style: none;
  padding: 0;
}

.fav-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.movie-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffd700;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.button-29,
.button-28 {
  width: 70%;
  padding: 10px 0;
  margin-bottom: 10px; 
  margin-top: 10px;
}

.display-4 {
  text-align: center;
}

.card {
  border: 2px solid #4287f5; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .fav-item {
    padding: 15px;
  }

  .button-container {
    flex-direction: column;
  }

  .button-29,
  .button-28 {
    width: 100%;
    margin-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .movie-name {
    font-size: 28px; 
  }
}
