#MovieDetailsContainer {
    width: 75vh;
    font-size: 1.5vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2vh;
}

.row {
    margin-bottom: 2vh;
    width: 70vh;
}

.col-md-4 img {
    max-width: 100%;
    height: auto;
}

.col-md-4 p {
    margin-top: 2vh;
}

.col-md-8 h2 {
    font-size: 3vh;
}

.col-md-8 p {
    font-size: 2vh;
}

.img-fluid custom-image {
    max-width: 100%;
    /* Adjust as needed */
    height: auto;
}