.navbar-style {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    color: #007bff;
    font-weight: bold;
    border: 3px solid #007bff;
    border-radius: 5px;
    padding: 12px 20px;
    transition: color 0.3s, background-color 0.3s;
    transition: border-color 0.3s;
    font-family: 'Limelight', cursive;
    background-color: black;
}


.nav-link:hover,
.nav-link button:hover {
    color: #fff;
    background-color: #007bff;
}

.nav-link:active {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent background on click */
}

.button-27 {
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: none;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 44px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding: 12px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    margin-right: 5px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-27:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}
.navbar-nav{
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .nav-link {
        position: relative;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .nav-link:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        z-index: -1;
        border-radius: 6px;
        transition: background-color 0.3s;
    }

    .nav-link:active:after {
        background-color: rgba(255, 255, 255, 0.2);
        /* Semi-transparent background on click */
    }

    .button-27 {
        margin: 10px auto;
        /* Center the logout button */
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }

    .nav-item {
        width: 100%;
    }
}