/* SignInForm.css */

/* Container styles */
.form {
    width: 800px;
    margin: 0 auto;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    font-size: 2.5vh;
    color:  #4287f5;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styles */
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4287f5;
    color: #fff;
    border: 3px solid #ffd700;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #3573d0;
  }
  
  /* Title styles */
  #title {
    text-align: center;
    font-size: 5vh;
    color: #ffd700;
    margin-bottom: 20px;
    font-family: 'Limelight', cursive;
  }
  